<!DOCTYPE html>
<html ng-app="fileUpload">

<head>
    <title>Exercise - Whatif</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    <div class="container">
        <div ng-controller="Exercise">
            <div>
                <input type="text" ng-model="slideName" placeholder="title" />
                <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true" accept="image/*,application/pdf">Drop images here or click to upload</div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                <br/>
                <input type="text" ng-model="slideDescription" placeholder="description" />
                <button ng-click="add()" ng-disabled="!isUploaded">{{buttonText}}</button>
                <div ng-repeat="item in slides">
                    <span>Name: {{item.name}}  <br/>Description: {{item.description}}  <br/>Url: {{item.url}}</span>
                    <br/>
                    <button ng-click="remove($index)">Remove</button>
                </div>
                <!-- <ul>
                <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
            </ul> -->
                <!-- <pre>{{log}}</pre> -->
            </div>
        </div>
    </div>
</body>

</html>
